html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.widget {
    position: relative;
    display: block;
    padding-top: 6.5rem;
    padding-left: 6rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
    line-height: 1.5;
    box-sizing: border-box;
    z-index: 1;
}

button {
    /* position: relative; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    cursor: pointer;
    /* display: block; */
    /* margin: 100px auto; */
    /* margin: 100px auto; */
    font-weight: 400;
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    box-sizing: border-box;
    z-index: 2;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.popover-container {
    position: absolute;
    display: block;
    color: #212529;
    margin-bottom: 0.5rem;
    max-width: 276px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: start;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    z-index: 1000;
}

.arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
    bottom: calc((0.5rem + 1px) * -1);
    box-sizing: border-box
}

.arrow::before {
    position: absolute;
    bottom: 0;
    border-width: 0.5rem 0.5rem 0;
    border-left-color: transparent;
    border-right-color: transparent;
    display: block;
    content: "";
    border-style: solid;
    box-sizing: border-box
}

.arrow::after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    bottom: 1px;
    border-width: 0.5rem 0.5rem 0;
    border-top-color: #fff;
    box-sizing: border-box;
}

.popover-title {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.popover-text {
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
}
